.mdTable table th {
  min-width: 120px;
}
.mdTable table th:nth-child(1) {
  width: 150px;
}
.mdTable table th:nth-child(2) {
  width: 370px;
}

code {
  margin: 0 1px;
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  background: #f2f4f5;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
}
